@model Category

@{
    ViewData["Title"] = "Update";
}

<div class="row">
    <div class="col-lg-2">
        <h1 class="h3 mb-4 text-gray-800">Category Update Page</h1>
    </div>
</div>

<div class="row">
    <div class="col-lg-8">
        <form method="post">
            <div class="mb-3">
                <label asp-for="Name" class="form-label"></label>
                <input asp-for="Name" class="form-control">
                <span asp-validation-for="Name" class=" text text-danger"></span>
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>

        </form>
    </div>
</div>





