@model Review
<div class="rating-star d-flex">
        <span class="title">Rating:</span>
        <div class="rate">
        <input form="reviewForm" type=" radio" id="star5" asp-for="Start" value="5" />
            <label for="star5" title="5">5 stars</label>
        <input form="reviewForm" type="radio" id="star4" asp-for="Start" value="4" />
            <label for="star4" title="4">4 stars</label>
        <input form="reviewForm" type="radio" id="star3" asp-for="Start" value="3" />
            <label for="star3" title="3">3 stars</label>
        <input form="reviewForm" type="radio" id="star2" asp-for="Start" value="2" />
            <label for="star2" title="2">2 stars</label>
        <input form="reviewForm" type="radio" id="star1" asp-for="Start" value="1" />
            <label for="star1" title="1">1 star</label>
        </div>
    </div>
<form id="reviewForm" class="feedback-form" method="post" asp-controller="product" asp-action="AddReview">
    <input type="hidden" name="ProductId" value="@Model.ProductId"/>
    <div class="group-input">
        <div class="form-field">
            <input asp-for="Name" name="name" placeholder="Your Name" class="input-field">
        </div>
        <div class="form-field">
            <input asp-for="Email" name="email" placeholder="Your Email" class="input-field">
            <span asp-validation-for="Email"></span>
        </div>
    </div>
    <div class="form-field">
        <textarea asp-for="Description" name="message" placeholder="Message" class="textarea-field"></textarea>
    </div>
    <div class="button-wrap">
        <button type="submit" value="submit" name="submit" class="btn-pronia-primary">
            Post
            Comment
        </button>
    </div>
</form>
@section Scripts{
    @await Html.PartialAsync("_Validation")
}