@model Address

<form method="post" asp-controller="Acconut" asp-action="EditAddress" asp-route-id="@Model.Id">
    <div asp-validation-summary="ModelOnly" class="text text-danger"></div>
    <div class="row">
        <div class="col-lg-6">
            <div class="single-input-item">
                <span>Country</span>
                <input asp-for="Country" placeholder="Country" required />
                <span style="color:red" class="text-black-50 text-danger" asp-validation-for="Country"></span>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="single-input-item">
                <span>City</span>
                <input asp-for="City" placeholder="City" required />
                <span style="color:red" class="text-black-50 text-danger" asp-validation-for="City"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="single-input-item">
                <span>Phone Number</span>
                <input asp-for="PhoneNumber" placeholder="Phone Number"  required />
                <span style="color:red" class="text-black-50 text-danger" asp-validation-for="PhoneNumber"></span>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="single-input-item">
                <span>Zip Code </span>
                <input asp-for="ZipCode" placeholder="Zip Code" required />
                <span style="color:red" class="text-black-50 text-danger" asp-validation-for="ZipCode"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="single-input-item">
                <span>Street</span>
                <input asp-for="Street" placeholder="Street" required />
                <span style="color:red" class="text-black-50 text-danger" asp-validation-for="Street"></span>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="single-input-item">
                <span>Is Main Address </span>
                <input asp-for="IsMain" />
                <span style="color:red" class="text-black-50 text-danger" asp-validation-for="IsMain"></span>
            </div>
        </div>
    </div>
    <div class="single-input-item">
        <button type="submit" class="btn">Update Address</button>
    </div>
</form>