@model IEnumerable<Product>


    @foreach (Product product in Model)
    {

        <li>
            <a asp-controller="Product" asp-action="Detail" asp-route-id="@product.Id">
                <img src="~/assets/img/product/@product.MainImage" />
            <p style="color:#393f31;">@product.Title</p>
                <span>$@product.Price</span>
            </a>
        </li>

    }
