@model IEnumerable<Product>

@*<ul>*@
    @foreach (Product product in Model)
    {

        <li>
            <a>
                <img src="~/assets/img/product/@product.MainImage" />
                <p>@product.Title</p>
                <span>$@product.Price</span>
            </a>
        </li>

    }
@*</ul>*@