@model UserChangeRoleVM
@{
    ViewData["Title"] = "ChangeRole";
}

<div class="row">
    <div class="col-lg-2">
        <h1 class="h3 mb-4 text-gray-800">Use Change Role Page</h1>
    </div>
</div>

<div class="row">
    <div class="col-lg-8">
        <form method="post">
            <div class="mb-3 d-none">
                <label asp-for="UserId" class="form-label "></label>
                <input asp-for="UserId" class="form-control">
                <span asp-validation-for="UserId" class=" text text-danger"></span>
            </div>
            <div class="input-group mb-3">

                <select style="border-radius:0.5rem;" asp-for="RoleId" class="form-select" asp-items="new SelectList( ViewBag.Role,nameof(IdentityRole.Id), nameof(IdentityRole.Name))">
                </select>
                <span asp-validation-for="RoleId" class=" text text-danger"></span>
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>

        </form>
    </div>
</div>




